.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 90px; 
    max-width: 1440px;
    margin: 0 auto;

}

@media (max-width: 700px) {
    .header {
        padding: 0 15px;
    }
}



.container-banner{ 
    display: flex;
    justify-content: space-between; 
}
  

.container-banner__item h1{
 font-weight: 700;
    
}

.title-span__one{
   background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.title-span__second{
  background: linear-gradient(269deg, #C0B7E8 -3.72%, #8176AF 82.17%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.container-banner__item__title{
    padding: 15px;
    margin-top: 1rem;
    text-align: center;
    display: none; 
}
.container-btn__responsive {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;  
}

@media (max-width: 900px) {
    .container-btn__responsive {
        display: flex; 
    }
}
@media (max-width: 900px) {
    .container-banner__item__title {
        display: block; 
    }
}
.container-banner__item__content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
}
.container-banner__item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container-banner__item--image{
    display: flex;
    justify-content: flex-end; 
    flex-direction: column !important;
    align-items: flex-end;
    gap: 1.5rem;
}
@media (max-width: 900px) {
    .container-banner__item--image {
        justify-content: center;
        display: flex;
        align-items: center;
    }
}
.container-banner__item--image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
    max-width: 380px;
    margin-right: 1.4rem; 
}

@media (max-width: 1070px) {
    .container-banner__item--image img {
        margin-right: 0;  
    }
}
.container-btn__responsive{
    width: 100%;
    justify-content: center;
    align-items: center; 
}
.container-btn__responsive button{
    width: 80% !important; 
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: none; 
    padding: 16px 90px;
    border-radius: var(--border-md);
    cursor: pointer;
    
    font-weight: 600;
    transition: transform 0.3s;
}
.container-btn{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.container-banner__button{
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: none;
    flex-basis: 200px;
    padding: 10px 20px;
    border-radius: var(--border-md);
    cursor: pointer;
    transition: transform 0.3s;
}
.container-banner__button:hover{
    transform: scale(1.1);
}
.footer-banner{
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    display: flex;
    margin-top: 1.3rem;
    border-radius: 90px;
    padding: 20px 50px;
    gap: 2rem;
    justify-content: space-evenly;
}

.footer-banner__items{
    
    display: flex;
    gap: 1rem;
    min-height: 80px;
    align-items: center;
    


}

.footer-banner__items p{
    font-size: 11px;
    margin-top: 5px;

}
.footer-banner__icon {
    font-size: 35px;
    height: 100%;
    color: #C0B7E8;
   
}

.footer-banner__items--after{
     border-left: 1px solid #C0B7E8; /* Borde izquierdo */
    border-right: 1px solid #C0B7E8; /* Borde derecho */
    padding:0  4rem;
    
    
}
