/* Estilo general para el contenedor del slider */
.swiper {
    width: 100%;
    padding: 2rem 0;
    
}
.services__section{
    /* background-color: red; */
}

.services__section--us{
    min-height: 100vh;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Estilos para cada tarjeta */
.service {
    background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
    
    border-radius: var(--border-md);
    padding: 2rem;
    text-align: center;
    max-width: 250px;
    min-height: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    /* position: relative; */
}

.service:hover {
    transform: translateY(-5px);
}

/* Header de la tarjeta */
.service__body h4 {
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
    padding-bottom: 10px;
    border-bottom:1px solid var(--button-color);
}

.service__header{
    width: 100%;
    height: 100px;
    
    margin-bottom: 15px;
}
.service__header img{
    width: 100px;
    
    margin-bottom: 1rem;
    object-fit: cover;
    
}
/* Cuerpo de la tarjeta */
.service__body p {
    font-size: 0.7rem;
    color:var(--text-color);
    margin-bottom: 1.5rem;
}

/* Botón */
.service__body button {
    background: linear-gradient(180deg, #C0B7E8 0%, #8176AF 100%);
    color: #000000;
    border: none;
    padding: 15px 30px;
    border-radius: var(--border-md);
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.service__body button:hover {
    background: linear-gradient(180deg, #8176AF 0%, #C0B7E8 100%);
}

/* Flechas de Swiper */
.swiper-button-prev,
.swiper-button-next {
    color: #fff !important;
    font-size: 2rem !important;
    top: 50% !important;
    
    width: 50px !important;
    height: 50px !important;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    position: absolute !important;
    
    
}

.services_titles{
    display: flex;
    justify-content: space-between;
    
}
.services_titles > p{
    flex-basis: 550px;
    font-size: 0.8rem;
}
.services_titles--arrow{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
}
.services_titles--arrow img{
    width: 190px;
    height: 50px;
}
/* Ubicación de las flechas */
.swiper-button-prev {
    left: 20px !important;
    
  
}

.swiper-button-next {
    right: 20px !important;
}
/* Asegura que las flechas no sean cortadas */
/* Asegura que las flechas no sean cortadas */



/* Media Query para móviles */
@media (max-width: 390px) {
    
    .swiper-button-prev {
        left: -40px !important;
    }

    .swiper-button-next {
        right: -40px !important;
    }

    .services_titles--arrow img{
        display: none;
    }
}
@media (max-width: 650px) {
    
    .services__section--us{
        min-height: 60vh;

    }
    

    .services_titles > p{
       display: none;
    
    }
    .services_titles--arrow img{
        display: none;
    }
}
